@import url(../css/base.css);
.logo {
  float: left;
  margin-right: 300px;
  padding: 0;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
}

header > br {
  clear: both;
}

.top_right {
  float: right;
}

.top_right > ul {
  float: right;
}

.top_right > ul > li {
  float: left;
}

.top_right .dropbtn:hover {
  color: #be1d2c;
  position: relative;
  z-index: -8;
}

.top_right .dropbtn {
  background-color: transparent;
  color: #222222;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.top_right .dropdown {
  position: relative;
  display: inline-block;
}

.top_right .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.top_right .dropdown-content a {
  color: #8b8b8b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top_right .dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.top_right .dropdown:hover .dropdown-content {
  display: block;
}

.top_right .dropdown:hover .dropbtn {
  background-color: #fff;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  margin: auto;
}

.carousel-inner {
  margin-top: 40px;
}

.carousel-inner #top_slider-1 {
  background-image: url(../image/slider-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 800px;
}

.carousel-inner #top_slider-2 {
  background-image: url(../image/slider-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 800px;
}

.carousel-inner #top_slider-3 {
  background-image: url(../image/slider-bg-3.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 800px;
}

.carousel-inner #top_slider-4 {
  background-image: url(../image/slider-bg-4.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 800px;
}

.carousel-inner > div > a > img {
  width: 239px;
}

.carousel-inner > div > .slidetitle {
  padding-top: 150px;
}

.carousel-inner > div > .slidetitle2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.item, #top_slider-1 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#first-slide > div > .carousel-indicators {
  left: 98%;
  bottom: 50%;
  float: right;
  width: 12px;
  position: absolute;
  margin: 0;
  border-radius: 50%;
}

.company {
  background-image: url(../image/company-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 20px;
  padding-bottom: 100px;
  box-sizing: content-box;
}

.company .company_wrap {
  margin: 0 auto;
}

.company .company_wrap .company_top {
  text-align: center;
}

.company .company_wrap .company_top a {
  color: #be1d2c;
  font-weight: bold;
}

.company .company_wrap .company_img {
  width: 1220px;
  margin-top: 30px;
  display: block;
  margin: auto;
}

.company .company_wrap .company_img #ceo {
  margin-right: 100px;
  margin-left: 50px;
}

.business {
  background-image: url(../image/business-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 10%;
  width: 100%;
}

.business .carousel {
  float: left;
  margin-right: 30px;
  margin-left: 2%;
  padding: 0;
}

.business .carousel .carousel-inner > .item > a > img {
  max-width: 100%;
  height: auto;
}

.business .business-text {
  color: white;
  margin: auto;
  line-height: 2.5;
}

.business .business-text > h1 {
  font-size: 46px;
  line-height: 46px;
  font-weight: 400;
}

.business .business-text > img {
  max-width: 100%;
  height: auto;
}

.business .business-text > hr {
  height: 0;
}

.business .business-text > b {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 25px;
}

.secondslider > div > a > img {
  width: 547px;
  display: inline;
}

.tech {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url(../image/tech-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  text-align: center;
}

.tech h4 {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

.tech a {
  font-size: 21px;
  font-weight: 700;
  color: black;
}

.support {
  background-image: url(../image/support-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 120px;
}

.support h4 {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

.support img {
  padding-bottom: 15px;
}

.support a {
  color: #be1d2c;
  font-weight: bold;
}

.support .support-img {
  padding-top: 60px;
}

.support .support-img a:nth-child(2) {
  padding: 100px;
}

footer {
  background-color: #37383a;
}

footer nav {
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 160px;
}

footer nav br {
  clear: both;
}

footer nav ul {
  padding-left: 40px;
  margin: 0 8px;
  float: left;
  width: 184px;
}

footer nav ul h5 {
  color: white;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 1px;
}

footer nav ul li {
  line-height: 28px;
}

footer nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: #f2f2f2;
}

footer nav ul li a:hover {
  color: #ffffff;
}

footer .copy {
  text-align: center;
  color: white;
}

.fixed {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
  right: 70px;
  bottom: 20px;
  position: fixed;
}

.clearfix {
  clear: both;
  height: 140px;
}
